Flask
pymongo==4.4.1
Flask-Cors==3.0.10
Werkzeug==2.2.2attrs==22.2.0
blinker==1.5
certifi==2022.9.24
chardet==5.1.0
charset-normalizer==3.0.1
cloud-init==22.4.2
configobj==5.0.8
cryptography==38.0.4
dbus-python==1.3.2
distro==1.8.0
distro-info==1.5+deb12u1
gyp==0.1
httplib2==0.20.4
idna==3.3
Jinja2==3.1.2
jsonpatch==1.32
jsonpointer==2.3
jsonschema==4.10.3
markdown-it-py==2.1.0
MarkupSafe==2.1.2
mdurl==0.1.2
netifaces==0.11.0
oauthlib==3.2.2
pycurl==7.45.2
Pygments==2.14.0
PyJWT==2.6.0
pyparsing==3.0.9
pyrsistent==0.18.1
pyserial==3.5
PySimpleSOAP==1.16.2
python-apt==2.6.0
python-debian==0.1.49
python-debianbts==4.0.1
PyYAML==6.0
reportbug==12.0.0
requests==2.28.1
rich==13.3.1
six==1.16.0
ssh-import-id==5.10
unattended-upgrades==0.1
urllib3==1.26.12
annotated-types==0.7.0
anyio==4.4.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
coverage==7.6.0
dnspython==2.6.1
email_validator==2.2.0
fastapi==0.111.1
fastapi-cli==0.0.4
Flask==2.2.5
Flask-Cors==3.0.10
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
keploy==2.0.0a39
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
pydantic==2.8.2
pydantic_core==2.20.1
Pygments==2.18.0
pymongo==4.4.1
python-dotenv==1.0.1
python-multipart==0.0.9
PyYAML==6.0.1
requests==2.32.3
rich==13.7.1
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
starlette==0.37.2
typer==0.12.3
typing_extensions==4.12.2
urllib3==2.2.2
uvicorn==0.30.3
uvloop==0.19.0
watchfiles==0.22.0
websockets==12.0
Werkzeug==2.2.2
